 $rojo:#C80E2D;
 $blanco:#ffffff;
 $font-one:'Dosis', sans-serif;
 $font-two:'Quicksand', sans-serif;


 body {
 	background-image: url(../img/back.jpg);
 	background-color: black;
	width: 100%;
	height: 60%;
}

 header {
 	background-color: $rojo;
 	width: 100%;
 	height: 30%;
 }

.footer{
	background-color: $rojo;
	color: $blanco;
	width:100%;  
	height:10%;
	display: flex;
	align-items: baseline;
	bottom: 0;
	position: fixed;
	right: 0;
	left: 0;
	padding: 20px;

}
 
