 $primary-color:#C80E2D;
 $second-color:#ffffff;
 $font-one:'Dosis', sans-serif;
 $font-two:'Quicksand', sans-serif;


 body {
 	background-image: url(../img/fondo.jpg);
	background-size: 100% auto;
	padding-bottom: 50%;
 }
 header{
 	background-color: $primary-color;
 	width: 100%;
 	height: 30%;
 }
 .logoband{
 	width: 10%;
 	margin: 1em;
 }
.menunav{
	margin-right: 2em;
	margin-top: 2em;
}
.linksmenu{
	color: $second-color;
	font-family: $font-one;

}
.parrafohome{
	background-color: $second-color;
	border-radius: 20px;
	font-family: $font-one;
	text-align: center;
	line-height: 15pt;
	letter-spacing: 3px;
	padding: 2em;


}