 .headerbox{
 	display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em;
 }

 .logoband{
 	width: 10%;
 	margin: 1em;
 }
.menunav{
	margin-right: 2em;
	margin-top: 2em;
}
.linksmenu{
	color: $blanco;
	font-family: $font-one;

}